
.gradle/
build/
app/build/

local.properties

.idea/
*.iml
.idea/caches/
.idea/libraries/
.idea/workspace.xml

app/google-services.json

*.jks
*.keystore

.DS_Store
Thumbs.db

functions/node_modules/
functions/lib/
functions/.env
functions/.env.*
functions/firebase-debug.log
functions/ui-debug.log
functions/
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log